<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu21"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" id="side-menu21">
    <ion-header-bar class="bar-stable">
      <div class="title">Iscap 2017</div>
    </ion-header-bar>
    <ion-content padding="false" class="side-menu-left has-header ">
      <a ui-sref="iscap2017.iscapConference2017" menu-close="" id="iscap2017-button1" class="button button-balanced  button-block icon-left ion-android-home">Iscap 2017</a>
      <a ui-sref="iscap2017.schedule" menu-close="" id="iscap2017-button2" class="button button-balanced  button-block icon-left ion-android-calendar">Calendar</a>
      <a ui-sref="iscap2017.messages" menu-close="" id="iscap2017-button3" class="button button-balanced  button-block icon-left ion-android-chat">Messages</a>
      <a ui-sref="iscap2017.speakerBios" menu-close="" id="iscap2017-button4" class="button button-balanced  button-block icon-left ion-android-people">Speaker Bios</a>
      <a ui-sref="iscap2017.map" menu-close="" id="iscap2017-button5" class="button button-balanced  button-block icon-left ion-android-map">Map</a>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>