<ion-view title="November 5, 2017" id="page11">
  <ion-content padding="true" class="has-header">
    <h4 id="november52017-heading4" style="color:#000000;">8:00 AM</h4>
    <ion-list id="november52017-list1">
      <ion-item class="item-icon-right" id="november52017-list-item1"> Early Registration
        <i class="icon ion-android-bookmark"></i>
      </ion-item>
    </ion-list>
    <h4 id="november52017-heading5" style="color:#000000;">5:00 PM</h4>
    <ion-list id="november52017-list4">
      <ion-item class="item-icon-right" id="november52017-list-item2">Welcome Shindig
        <i class="icon ion-android-bookmark"></i>
      </ion-item>
    </ion-list>
    <h4 id="november52017-heading6" style="color:#000000;">6:30 PM</h4>
    <ion-list id="november52017-list5">
      <ion-item class="item-icon-right" id="november52017-list-item3">Meet and Greet
        <i class="icon ion-android-bookmark"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>