<ion-view title="November 6, 2017" id="page16">
  <ion-content padding="true" class="has-header">
    <h4 id="november62017-heading13" style="color:#000000;">7:00 AM</h4>
    <ion-list id="november62017-list16">
      <ion-item class="item-icon-right" id="november62017-list-item23">Breakfast
        <i class="icon ion-android-bookmark"></i>
      </ion-item>
    </ion-list>
    <ion-list id="november62017-list17">
      <ion-item class="item-icon-right" id="november62017-list-item24">Registration
        <i class="icon ion-android-bookmark"></i>
      </ion-item>
    </ion-list>
    <h4 id="november62017-heading14" style="color:#000000;">9:00 AM</h4>
    <ion-list id="november62017-list14">
      <ion-item class="item-icon-right" id="november62017-list-item18">Keynote Speaker
        <i class="icon ion-android-bookmark"></i>
      </ion-item>
    </ion-list>
    <h4 id="november62017-heading15" style="color:#000000;">10:30 AM</h4>
    <ion-list id="november62017-list23">
      <ion-item class="item-icon-right" id="november62017-list-item34" ui-sref="iscap2017.paperAIWhatWeKnowNow">Paper: AI: What we know now
        <i class="icon ion-android-bookmark"></i>
      </ion-item>
    </ion-list>
    <ion-list id="november62017-list25">
      <ion-item class="item-icon-right" id="november62017-list-item32" ui-sref="iscap2017.paperCodingWhereIsGoing">Paper: Coding: Where is it heading
        <i class="icon ion-android-bookmark"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="november62017-list-item31" ui-sref="iscap2017.sessionSpotlight">Session: Spotlight on Mickey Mouse
        <i class="icon ion-android-bookmark"></i>
      </ion-item>
    </ion-list>
    <h4 id="november62017-heading16" style="color:#000000;">11:30 AM</h4>
    <ion-list id="november62017-list26">
      <ion-item class="item-icon-right" id="november62017-list-item35">Lunch
        <i class="icon ion-android-bookmark"></i>
      </ion-item>
    </ion-list>
    <h4 id="november62017-heading17" style="color:#000000;">12:15 PM</h4>
    <ion-list id="november62017-list27">
      <ion-item class="item-icon-right" id="november62017-list-item36">Animate Graphics: A new Dawn
        <i class="icon ion-android-bookmark"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>