<ion-view title="November 7, 2017" id="page14">
  <ion-content padding="true" class="has-header">
    <h4 id="november72017-heading7" style="color:#000000;">7:00 AM</h4>
    <ion-list id="november72017-list7">
      <ion-item class="item-icon-right" id="november72017-list-item10">Breakfast
        <i class="icon ion-android-bookmark"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="november72017-list-item16">Registration
        <i class="icon ion-android-bookmark"></i>
      </ion-item>
    </ion-list>
    <h4 id="november72017-heading8" style="color:#000000;">9:30 AM</h4>
    <ion-list id="november72017-list8">
      <ion-item class="item-icon-right" id="november72017-list-item11" ui-sref="iscap2017.sessionNetworkSecurity">Session: Network Security
        <i class="icon ion-android-bookmark"></i>
      </ion-item>
    </ion-list>
    <h4 id="november72017-heading9" style="color:#000000;">10:00 AM</h4>
    <ion-list id="november72017-list9">
      <ion-item class="item-icon-right" id="november72017-list-item12" ui-sref="iscap2017.paperJavaVsC">Paper: Java vs. C#, A Textbook Analysis
        <i class="icon ion-android-bookmark"></i>
      </ion-item>
    </ion-list>
    <ion-list id="november72017-list28">
      <ion-item class="item-icon-right" id="november72017-list-item37" ui-sref="iscap2017.paperStudentVeteransSocialMedia">Paper: Student Veterans and Social Media
        <i class="icon ion-android-bookmark"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>