<ion-view title="November 8, 2017" id="page15">
  <ion-content padding="true" class="has-header">
    <h4 id="november82017-heading10" style="color:#000000;">8:00 AM</h4>
    <ion-list id="november82017-list10">
      <ion-item class="item-icon-right" id="november82017-list-item13">Breakfast
        <i class="icon ion-android-bookmark"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="november82017-list-item38">Registration
        <i class="icon ion-android-bookmark"></i>
      </ion-item>
    </ion-list>
    <h4 id="november82017-heading11" style="color:#000000;">9:00 AM</h4>
    <ion-list id="november82017-list11">
      <ion-item class="item-icon-right" id="november82017-list-item14" ui-sref="iscap2017.paperTheFlippedCProgramming">Paper: The Flipped C# Programming
        <i class="icon ion-android-bookmark"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="november82017-list-item39" ui-sref="iscap2017.paperBigDataAnalysisMethodology">Paper: Big Data Analysis Methodology
        <i class="icon ion-android-bookmark"></i>
      </ion-item>
    </ion-list>
    <h4 id="november82017-heading12" style="color:#000000;">3:45 PM</h4>
    <ion-list id="november82017-list12">
      <ion-item class="item-icon-right" id="november82017-list-item15">Raffles, Final Hurrahs &amp; Farwells
        <i class="icon ion-android-bookmark"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>