<ion-view title="Paper: Student Veterans &amp; Social Media" id="page23">
  <ion-content padding="true" class="has-header">
    <div id="paperStudentVeteransSocialMedia-markdown17" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Student Veterans &amp; Social Media</strong>
      </p>

      <p style="color:#000000;">Words go here to fill up space and explain what the paper is about and the Author.</p>
    </div>
  </ion-content>
</ion-view>