<ion-view title="Schedule by Speaker" id="page10">
  <ion-content padding="true" class="has-header">
    <h4 id="scheduleBySpeaker-heading18" style="color:#000000;">D</h4>
    <ion-list id="scheduleBySpeaker-list29">
      <ion-item class="item-avatar" id="scheduleBySpeaker-list-item40">
        <img src="img/nXS48uPkTNi0QafCWKyW_Donald-Duck.png">
        <h2>Donald Duck</h2>
        <p>SACC</p>
      </ion-item>
    </ion-list>
    <h4 id="scheduleBySpeaker-heading19" style="color:#000000;">H</h4>
    <ion-list id="scheduleBySpeaker-list30">
      <ion-item class="item-avatar" id="scheduleBySpeaker-list-item41">
        <img src="img/2bMb3cESme41tthkresQ_homer.png">
        <h2>Homer Simpson</h2>
        <p>WTAMU</p>
      </ion-item>
    </ion-list>
    <h4 id="scheduleBySpeaker-heading20" style="color:#000000;">K</h4>
    <ion-list id="scheduleBySpeaker-list31">
      <ion-item class="item-avatar" id="scheduleBySpeaker-list-item42">
        <img src="img/lpoq2OSsCtaVrUKHYNyA_KingKong.jpg">
        <h2>King Kong</h2>
        <p>ENMU</p>
      </ion-item>
    </ion-list>
    <h4 id="scheduleBySpeaker-heading21" style="color:#000000;">M</h4>
    <ion-list id="scheduleBySpeaker-list32">
      <ion-item class="item-avatar" id="scheduleBySpeaker-list-item43">
        <img src="img/iZnLeWs6TU2SbbNh3qsi_MickeyMouse.png">
        <h2>Mickey Mouse</h2>
        <p>OU</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>