<ion-view title="Schedule" id="page4" style="background-color:#E7F61A;">
  <ion-content padding="true" class="has-header">
    <a ui-sref="iscap2017.scheduleByDay" id="schedule-button12" class="button button-stable  button-block">Schedule by Day</a>
    <a ui-sref="iscap2017.scheduleBySessionCategory" id="schedule-button13" class="button button-stable  button-block">Schedule by Session Category</a>
    <a ui-sref="iscap2017.scheduleBySpeaker" id="schedule-button14" class="button button-stable  button-block">Schedule by Speaker</a>
  </ion-content>
</ion-view>