<ion-view title="Schedule by Session Category" id="page9">
  <ion-content padding="true" class="has-header">
    <a ui-sref="iscap2017.everyone" id="scheduleBySessionCategory-button10" class="button button-positive  button-block">Everyone</a>
    <a ui-sref="iscap2017.coders" id="scheduleBySessionCategory-button11" class="button button-positive  button-block">Coders</a>
    <a ui-sref="iscap2017.artificialIntelligence" id="scheduleBySessionCategory-button15" class="button button-positive  button-block">Artificial Intelligence</a>
    <a ui-sref="iscap2017.animatedGraphics" id="scheduleBySessionCategory-button16" class="button button-positive  button-block">Animated Graphics</a>
  </ion-content>
</ion-view>