<ion-view title="Schedule by Day" id="page8">
  <ion-content padding="true" class="has-header">
    <a ui-sref="iscap2017.november52017" id="scheduleByDay-button9" class="button button-positive  button-block">Sunday, November 5th</a>
    <a ui-sref="iscap2017.november62017" id="scheduleByDay-button6" class="button button-positive  button-block">Monday, November 6th</a>
    <a ui-sref="iscap2017.november72017" id="scheduleByDay-button7" class="button button-positive  button-block">Tuesday, November 7th</a>
    <a ui-sref="iscap2017.november82017" id="scheduleByDay-button8" class="button button-positive  button-block">Wednesday, November 8th</a>
  </ion-content>
</ion-view>