<ion-view title="Speaker Bios" id="page6">
  <ion-content padding="true" class="has-header">
    <h1 id="speakerBios-heading2" style="color:#000000;">Speaker Bios</h1>
    <div class="spacer" style="width: 300px; height: 29px;"></div>
    <div>
      <img src="img/tsGxbTJyRKOjWPBmToie_Donald-Duck.png" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="speakerBios-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Donald Duck</strong> has a Bachelor's in Animated Graphics. He's been doing this for over a decade. He really enjoys his job and looks forward to everyday.</p>
    </div>
    <div class="spacer" style="width: 300px; height: 37px;"></div>
    <div>
      <img src="img/aSdRs958QSm0uBrz7o1K_homer.png" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="speakerBios-markdown2" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Homer Simpson</strong> has a doctorate in Computer Science. He has 5 years as an Tenored Professor with WTAMU and has been on the board of Computer Science for the last 3 years. His research has garnered him recognition in multiple research papers.</p>
    </div>
    <div class="spacer" style="width: 300px; height: 34px;"></div>
    <div>
      <img src="img/maRLaoHTU6SR3UUrA1Oh_MickeyMouse.png" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="speakerBios-markdown3" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Mickey Mouse</strong> has a Doctorate in Artificial Intelligence. His work has been in the creation of the first driverless car. He has also done work with an AI voice operator for people with speech issues.</p>
    </div>
    <div class="spacer" style="width: 300px; height: 34px;"></div>
    <div>
      <img src="img/RAhUwry5Rj26lMvSQCbJ_KingKong.jpg" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="speakerBios-markdown6" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>King Kong</strong> has a Bachelors in Computer Information Systems. He is a programming coder for Google. He has been doing programming for the majority of his life and enjoys it very much. He is an Associate proffessor at West Texas A&amp;M University.</p>
    </div>
  </ion-content>
</ion-view>